
-
  var baseUrl = 'https://jestva.github.io/my-cv'
  var header = '#recent clients'
  var clientList = [
    "`${baseUrl}/asset/image/client/bitbee-logo.png`",
    "`${baseUrl}/asset/image/client/clickminded-logo.png`",
    "`${baseUrl}/asset/image/client/fifa18-logo.png`",
    "`${baseUrl}/asset/image/client/logo-upwork.jpg`",
  ];

#client
.client
  .client__header=header
  .client__list
    each client in clientList
      .client__image
        img(src=client)