//- model, data
-
    var header = '#experience'
    var experienceList = [
      {
        title: 'Junior Developer',
        date: 'Feb 2018 - Present',
        company: 'BitBee.uk',
        responsabilityList: [
          'Fluid typography / Responsive web design',
          'Mobile first approach, using media queries for tablet and desktop',
          'Create single page apps with blazing fast load speed and good UX',
          'Expand components using page building engines like Jade/PUG, saving time and iterating templates',
          'Optimizing sites for speed and excellent Google Page-speed score',
          'Front-end and back-end technical optimizations: crushing images, creating build files that get pushed to server and optimizing the sites from a Digital Marketing perspective (SEO, copywriting)',
          'Manage code versions using Git',
        ]
      },
      {
        title: 'Digital Product Manager',
        date: 'the date',
        company: 'ClickMinded',
        responsabilityList: [
          'responsability one',
          'responsability two',
          'responsability three',
        ]
      },
      {
        title: 'Assistant Producer',
        date: 'the date',
        company: 'EA',
        responsabilityList: [
          'responsability one',
          'responsability two',
          'responsability three',
        ]
      }
    ];
//- view, presentation 
#experience
.experience
    .experience__header=header
    input.experience__input(type="radio", name="same-name", id="experience-default")
    

    each experience, key in experienceList
        input.experience__input(type="radio", name="same-name",
         id=`experience-id-${key}`)
        label.experience__title(for=`experience-id-${key}`)
            | #{experience.title}
            label(for="experience-default")
                span.my-cv__icon--plus
        .experience__details
            .experience__top
                .experience__date=experience.date
                .experience__company=experience.company
            .experience__list
                each responsability in experience.responsabilityList
                    .experience__responsability=responsability