//- data comes here
-
  var header = '#about me'
  var imagePath = "asset/image/dorind-profile-pic.jpg"
  var myFullName = "Passionate Developer"
  var myTitle = "Statement"
  var slogan = "I believe being passionate about your work is how you move forward. I'm all into developing as a full stack FE engineer and aim to make Js, React, Vue.js and Node.js my toys. "
  var achievement = {
    title: 'Agile proof',
    content: 'In my natural environment with agile teams, crushing deadlines and enjoying sprints in every phase of the development lifecycle.'
  }
-
  var coolStuff = {
    title: 'Cool Links',
    buttonList: [
      {
        url: 'https://github.com/JestVA',
        icon: 'github',
        label: 'Visit this project on GitHub'
      },{
        url: 'asset/doc/resume-Dorin-Dumitrascuta_w.doc',
        icon: 'file-word',
        label: 'my cv, grab it here'
      }
    ]
  }

//- the view comes here
#about-me
.about-me
  .about-me__header=header
  .about-me__avatar-wrapper
    img.about-me__avatar(src=imagePath)
  .about-me__full-name=myFullName
  .about-me__title=myTitle
  .about-me__slogan=slogan
  .about-me__title=achievement.title
  .about-me__content=achievement.content

  .about-me__title=coolStuff.title
  .about-me__link-list
    each button in coolStuff.buttonList
      a.about-me__link(href=button.url)
        span.about-me__link-description=button.label
        span(class=`my-cv__icon--${button.icon}`)