//- data comes here
-
  var header = '#about me'
  var imagePath = "asset/image/dorind-profile-pic.jpg"
  var myFullName = "Dorin Dumitrascuta"
  var myTitle = "Front End Developer"
  var slogan = "I add"
  var achievement = {
    title: 'value',
    content: 'value for content'
  }

  var coolStuff = {
    title: 'grab cool stuff',
    buttonList: [
      {
        url: 'https://github.com/JestVA',
        icon: 'github',
        label: 'Visit this project on GitHub'
      },{
        url: 'asset/doc/resume-Dorin-Dumitrascuta_w.doc',
        icon: 'file-word',
        label: 'my cv, grab it here'
      }
      ,{
        url: 'asset/doc/resume-Dorin-Dumitrascuta.pdf',
        icon: 'file-word',
        label: 'and if you like PDFs:'
      }
    ]
  }

//- the view comes here
#about-me
.about-me
  .about-me__header=header
  .about-me__avatar-wrapper
    img.about-me__avatar(src=imagePath)
  .about-me__full-name=myFullName
  .about-me__title=myTitle
  .about-me__slogan=slogan
  .about-me__title=achievement.title
  .about-me__content=achievement.content

  .about-me__title=coolStuff.title
  .about-me__link-list
    each button in coolStuff.buttonList
      a.about-me__link(href=button.url)
        span.about-me__link-description=button.label
        span(class=`my-cv__icon--${button.icon}`)